/*

This is the CSS for the Home Page (index.html)

*/

html{

    background: rgb(24, 153, 52);
    font-family: "Times New Roman", Times, serif;
}

body{
    
    margin: 10;
    background-color: yellow;
    font-family: "Arial", Helvetica, sans-serif;
}


nav ul{

  background-color:rgb(99, 7, 204);
  list-style:none;

  display: inline-block;
  margin: 50 px;


}





h1{
    color:rgb(80, 80, 80)
}