/*

This is the CSS for the Home Page (index.html)

*/

html{

    background-color: rgb(24, 153, 52);
    font-family: "Times New Roman", Times, serif;
}

body{
    
    margin: 10;
    background-color: white;
    font-family: "Arial", Helvetica, sans-serif;
}

nav {

    float:center;
}

nav ul{

  background-color:rgb(99, 7, 204);
  list-style:none;






}




nav li{
    color:red;
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
    display: inline-block;
    margin-left: 50px;
    text-decoration:none; /*This should set the hyperlinks to no underline*/

    text-shadow: rgb(80, 80, 80);

    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left:20px;

    

}

nav:hover{
    text-shadow:rgb(238, 255, 0);
}


nav:visited{

    color:yellow;


}




h1{
    color:rgb(71, 138, 9)
}