/*

This is the CSS for the nav elements on the project page
*/
html{

    background-color: rgb(24, 153, 52);
}
body{
   /* display: -webkit-flex;
    display: flex;

    -webkit-flex-flow:row wrap;
    flex-flow: row wrap;
    */
    background-image: radial-gradient(rgb(175, 175, 175),rgb(255, 255, 255));
    font-family: "Arial", Helvetica, sans-serif;
}


*{box-sizing:border-box;
}




h1{
    padding: 15px;
    text-decoration: underline;
    color:rgb(71, 138, 9)
    
}

h2{
    padding: 15px;
    text-decoration: underline;
    color:rgb(0, 0, 0)

}

.column{
    float: left;
    width: 25%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;

}

.card{
    box-shadow: 0 5px 10px 0 rgb(99, 7, 204);
    transition: 0.3s;
    padding: 10px;
    width: 100%;
    text-align: center;
}

/**
Ok, now I've got to get a grid layout 

**/






.card:hover{
    box-shadow: 0 20px 20px 0 rgb(99, 7, 204);
    color: rgb(247, 98, 12);
    padding: 1px 8px;
}








.ProjectLinks
{
background-image: radial-gradient(rgb(236, 236, 236),rgb(255, 255, 255)) ;
}






/**
.ProjectLinks{

  background-color:rgb(214, 52, 182);
  padding:15px;
  list-style:none;
  text-decoration:none;

}

.ProjectLinks ul li a{

    text-decoration: none;
    color: red;
    text-shadow: blue;
}

.ProjectLinks ul li a:hover{
    text-shadow:rgb(247, 98, 12);
    text-decoration:none;
}


.ProjectLinks ul li a:visited{
    
    color:red;
    text-decoration:none;
    text-shadow: blueviolet;


}


**/
